
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home Page</title>
		<meta name="description" content="Main page">
		<meta name="author" content="Haseong Kim">
		<link href="style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<center>
			<h1>Frequently Asked Questions</h1>
			{{#if check}}
			<p><a href="/logout">Log out</a></p>
			{{else}}
			<p><a href="/login">Log in</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/register">Register</a></p>
			{{/if}}
		</center>
	</body>
</html>
