
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home Page</title>
		<meta name="description" content="Full-resolution image">
		<meta name="author" content="Haseong Kim">
		<link href="style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
        <img src="{{encoded}}">
    </body>
</html>