
body {
    font-family: Arial, Helvetica, sans-serif;
}
  
.msg {
  border: 1px solid red;
  font-weight: bold;
  color: red;
  padding: 1em;
}

.list{
  display: table;
  width: 50%;
}
.listHeader {
  background-color: #EEE;
  display: table-header-group;
  font-weight: bold;
}
.listEach {
  display: table-row;
  cursor: pointer;
}
.listEach:hover {
  background-color: #DDD;
}
.listEachCell, .listHeaderEach {
  display: table-cell;
  padding: 10px 10px;
}

.writeForm > p > .writeTitle {
  width: 500px;
}

.writeForm > .writeDescription {
  width: 500px;
  height: 300px;
  border: 1px solid black;
  text-align: left;
  overflow-y: scroll;
}

.detailQuestion {
  border:black 1px solid;
  width: 50%;
  height: auto;
}
.detailQuestion > .title {
  text-align: left;
  font-size: 1.8em;
  width: 100%;
}
.detailQuestion > .title > .solved {
  padding: 10px 5px 5px 10px;
  width: 90%;
}
.detailQuestion > .author {
  padding: 10px 5px 5px 10px;
  border-bottom: black 1px solid;
  text-align:left;
  font-size: 1.1em;
}
.detailQuestion > .author > .author_name {
  padding-left: 5px;
  font-weight: bold;
}
.detailQuestion > .author > .date {
  padding-left: 5px;
  float: right;
  font-weight: bold;
}
.detailQuestion > .description {
  padding: 10px 10px;
  text-align:left;
  font-size: 1.1em;
}
.detailQuestion > .image {
  border-bottom: 1px solid black;
}
.detailQuestion > .image > .thumbnail {
  padding: 10px 10px;
  cursor: pointer;
}
.detailQuestion > .answerList {
  text-align: left;
  background-Color: #EEE;
}
.detailQuestion > .answerList > table {
  padding: 10px 10px;
  width: 100%;
  font-size: 0.9em;
  border: 1px solid #888;
}
.detailQuestion > .footer {
  border-top: 1px solid black;
  text-align: left;
}
.detailQuestion > .footer > .answer {
  display: table;
  width: 100%;
}
.detailQuestion > .footer > .answer > .answerForm {
  display: table-row;
}
.detailQuestion > .footer > .answer > .answerForm > .answerInput {
  display: table-cell;
  width: 85%;
  height: 100px;
  vertical-align: top;
}
.detailQuestion > .footer > .answer > .answerForm > .answerInput > div {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  text-align: left;
  overflow-y: scroll;
}
.detailQuestion > .footer > .answer > .answerForm > .answerButton {
  display: table-cell;
  width: 100%;
  height: 100px;
}